<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Courtney Shearer</title>
    <!-- <link rel = "stylesheet" href = "./styles.css"> -->
  </head>
  <body>
      <form action="/home">
          <input type="submit" value="Go Home" />
      </form>
      <form action="/business">
          <input type="submit" value="Go Business" />
      </form>
      <form action="/fun">
          <input type="submit" value="Go Fun" />
      </form>
  </body>
  <!-- <script src="./script.js"></script> -->
</html>
