<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans" rel="stylesheet">
		<script type ="text/javascript" src = "../assets/js/script.js"></script>
		<title>Courtney Shearer</title>
		<link rel="stylesheet" type = "text/css" href="../assets/css/style.css">
	</head>
  <body>

  		<h1>Courtney Shearer</h1>

  		<div style="padding-left:0px;" class="item-nav">
   			<a style="padding-left:0px;" href="../index.html">Home</a>
   			<a style="padding-left:0px;" href="exp.html">Hobbies</a>
   			<a style="padding-left:0px;" href="proj.html">Projects</a>
  		</div>

  </body>
</html>
