<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans" rel="stylesheet">
		<script type ="text/javascript" src = "../assets/js/script.js"></script>
		<title>Courtney Shearer</title>
		<link rel="stylesheet" type = "text/css" href="../assets/css/style.css">
	</head>
  <body>
		<div class="container">
			<div class="item-name">
				<h1>Courtney Shearer</h1>
			</div>
			<div class="item-nav">
				<div>
		 			<a href="./index.html">About</a>
		 			<a href="">Experiences</a>
		 			<a href="">Projects</a>
				</div>
			</div>
			<div class="item-pic">
					<div>
						<img src = "../assets/img/profile.jpeg">
					</div>
			</div>
			<div class="item-leftbracket">
					<img src = "../assets/img/bracket.jpeg">
			</div>
			<div class="item-about">
					<h2>Greetings!</h2>
					<p> My name is Courtney Shearer and I am pursuing a degree in Computer Science with a minor
					in genetics at Clemson University.</p>
			</div>
			<div class="item-rightbracket">
					<img style="transform: rotate(180deg);" src = "../assets/img/bracket.jpeg">
			</div>
			<div class="item-social">
	        <a href="https://www.facebook.com/courtney.shearer.3"><img src="../assets/img/fb.png" alt="facebook" /></a>
	        <a href="https://github.com/csheare"><img src="../assets/img/gh.png" alt="github" /></a>
	        <a href="https://www.linkedin.com/in/courtney-shearer/"><img src="../assets/img/li.png" alt="linkedin" /></a>
	    </div>
			<div class="item-footer">
		        <p>(864)538-9676 • csheare@clemson.edu</p>
		  </div>
		</div>
			<!-- <div id="topArrow">
				<img src = "arrow.svg">
			</div> -->
	</body>
</html>
